@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Yomogi&display=swap');
*{
  font-family: 'Jost', sans-serif
 !important

}
body{
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
  background-blend-mode: multiply,multiply;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

a{
  text-decoration: none !important;
  color: white;
}

.dropDownLink{
  text-decoration: none !important;
  color: black;
}

.sectionScroll{
  overflow-x: scroll !important;
}

.actorSection{
   
  background-image: linear-gradient(to right, #6d0d3c 0%, #a76460 100%);  background-blend-mode: color-dodge;

}
.bannerEffect{
  background-image: url('https://coverfiles.alphacoders.com/161/thumb-1920-161470.jpg'), linear-gradient(to bottom, #6f6e6e 60%, rgb(0, 0, 0) 100%); 
   background-blend-mode: multiply;
   background-size: cover;
   /* z-index: -4; */
  }

.episodeSection{
  background-image: url(https://coverfiles.alphacoders.com/918/thumb-1920-91831.jpg);
  
}

.bannerHight{
  height: 100vh;
}
.sectionHight{
  height: 80vh;
}

/* .genderListBg{
  background-image: url();
} */

.textShadow{
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


.genderBg{
  background-image: url(https://i.ibb.co/Dzx4pyd/gender.jpg);
  background-repeat: no-repeat;

}

/* .actorBg{
  background-image: url(https://coverfiles.alphacoders.com/602/thumb-1920-60205.jpg);
  background-repeat: no-repeat;
} */

.mainBg{
  background-image: url(https://i.ibb.co/MCFMh1V/photo-1519120944692-1a8d8cfc107f.jpg);
  background-repeat: no-repeat;
}

/* .mdBg{
  background-image: url(https://coverfiles.alphacoders.com/595/thumb-1920-59530.jpg);
  background-repeat: no-repeat;
  
} */

/* .newMdBg{
  background-image: url(https://coverfiles.alphacoders.com/675/thumb-1920-67588.png);
  background-repeat: no-repeat;
  
} */

/* .editMdBg{
  background-image: url(https://coverfiles.alphacoders.com/117/thumb-1920-117674.jpg);
  background-repeat: no-repeat;
  
} */
/* 
.formBG{
  background-image: url(https://i.ibb.co/t2zYzjh/aladdin-movie-poster-4k-s0.jpg);
  background-repeat: no-repeat;
} */

.blackBg{
  background-image: linear-gradient(to bottom, #434343 3%, black 100%);
 background-blend-mode: multiply,multiply;
}

.formBG{
  /* background-image: linear-gradient(to top, #feb2b2 0%, #282c2e 100%); */

  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  background: linear-gradient(to bottom, #323232 0%, #262626 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
}

.darkenGradient{
  background-image: linear-gradient(to bottom, #6f6e6e 60%, rgb(0, 0, 0) 100%); 
  background-blend-mode: multiply;
}

/* .navbar{
  background: transparent;
  position: static;
  height: 150px;
  width: 100vw;
  z-index: 1;
  top: 0;
  padding: 2rem;
}

.navbar.active{
  background-image: linear-gradient(to bottom, #6f6e6e 10%, rgb(0, 0, 0) 100%); 
  background-blend-mode: multiply;
} */